<button type="button" class="btn btn-primary" (click)="openModal(template)">New Message</button>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Write New Message</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <input style="width: 100%" appFocusDirective #inputElement type="text" [(ngModel)]="text">
    <div class="modal-footer">
      <div class="text-right">
        <button [disabled]="!inputElement.value" type="submit" class="btn btn-success"
                (click)="onOk(); inputElement.value='';">Submit
        </button>
        <button type="button" class="btn btn-warning" (click)="modalRef.hide()">Cancel</button>
      </div>
    </div>
  </div>
</ng-template>
